     <div class="row">
            <% @question1.each do |q|  %>
                     <div class="form-group col-12">
                         <div class="card">
                             <div class="class-header bg-primary"><h3><%= q.title%></h3></div>
                             <div class="card-body">
                                 <%= q.musicin_id %>
                                 <% case q.qtype 
                                      when "text" %>  <%= f.text_field :"qid-#{q.id}",:value => session["formparam"]["qid-#{q.id}"]%>
                                      <%when "text2" %>  <%= f.text_field :"qid-#{q.id}",:value => session["formparam"]["qid-#{q.id}"] %>
                                                         <%= f.text_field :"qid-#{q.id}-2",:value => session["formparam"]["qid-#{q.id}-2"] %> 
                                      <% when "dropdown" %>  
                                                  <%= f.select(:"qid-#{q.id}",q.choice.split(','), {:include_blank => true,:selected => session["formparam"]["qid-#{q.id}"]},
                                                        { :class => 'form-control' })%>
                                      <% when "radio" %>  
                                                 <%= f.collection_radio_buttons :"qid-#{q.id}",q.choice.split(','), :first, :last,{ checked: session["formparam"]["qid-#{q.id}"]} %>
                                 <% end %>
                             </div>
                         </div>
                     </div>
                <% end %>
            </div>