<h1>Admin#index</h1>
<p>Find me in app/views/admin/index.html.erb</p>

<table id="schools-table", data-source="<%= schools_index_path(format: :json) %>">
  <thead>
    <tr>
      <th><%= t('val.code') %></th>
      <th><%= t('val.code') %></th>
      <th><%= t('val.overall') %></th>
      <th><%= t('val.form1head') %></th>
      <th><%= t('val.form2head') %></th>
      <th><%= t('val.form3head') %></th>
      <th><%= t('val.form4head') %></th>
      <th><%= t('val.usercount') %></th>
      <th><%= t('val.usercount') %></th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>


<% 
   filterchoice = Array.new
    filterchoice.push({title:"All",filter:""})
    filterchoice.push({title:"A",filter:"percent_max = 100"})
    filterchoice.push({title:"B",filter:"percent_max < 100 and percent_max >= 80"})
    filterchoice.push({title:"C",filter:"percent_max < 80 and percent_max >=50"})
    filterchoice.push({title:"D",filter:"percent_max < 50"})
%>
 <% if flash[:question_errors] %>
        <% flash[:question_errors].each do |error| %>
          <div class="alert alert-danger" role="alert"><%=error%></div>
        <%end%>
<%end%>
 <%= form_for :pfilter , as: :get, url: admin_path,:html => {:class => ''} do |f| %>

        <%= f.select(:procress,filterchoice.map{ |c| [c[:title], c[:filter]] }, {:selected => flash[:procress]},
                                                    { :class => 'form-control',:onChange=>"javascript: this.form.apply_button_name.click();" })%>
        <%= f.submit "Apply", :name => "apply_button_name" , :remote => true %>
 <% end %>
<table class="table">
    <thead>
        <tr>
            <th>A1</th>
            <th>A2</th>
            <th>A3</th>
            <th>Overall</th>
            <th>Form1</th>
            <th>From2</th>
            <th>From3</th>
            <th>From4</th>
            <th>Users</th>
        </tr>
    </thead>
    <tbody>
        <% @schools.each do |school|  %>
            <% classname = "row-warning"
                
            %>
            <tr class="<%= classname %>">
                <td><%= school.ministry_code %></td>
                <td><%= school.school_name %></td>
                <td><%= school.province %></td>
                 <td><%= !school.percent_all.nil? ? format('%.2f',school.percent_all) : 0 %></td>
                 <td><%= !school.percent_1.nil? ? format('%.2f',school.percent_1) : 0 %></td>
                 <td><%= !school.percent_2.nil? ? format('%.2f',school.percent_2) : 0 %></td>
                 <td><%= !school.percent_3.nil? ? format('%.2f',school.percent_3) : 0 %></td>
                 <td><%= !school.percent_4.nil? ? format('%.2f',school.percent_4) : 0 %></td>
                <td><%= school.userinscool %></td>
            </tr>
        <% end %>
    </tbody>
</table>
<%#<%= will_paginate @schools %>
 <%#= paginate @schools %>
