<header class="paragraphs form-group">
    <div class="row text-center">
        <div class="col-12">
            <h5><%= @headsub1%></h5>
        </div>
        <div class="col-12">
            <h5 class="text-danger"><%= @headwarning%></h5>
        </div>
    </div>
</header>
<div class="card-group">
  <div class="card border-0 ">
    <div class="card-body">
    </div>
    <div class="card-footer border-0 bg-white">
       <%= link_to @newusertext , sign_up_path, method: "get" ,class: "btn btn-primary  btn-lg form-control box-shadow--8dp "%> 
    </div>
  </div>
  <%= form_for :login , as: :post, url: sessions_path,:html => {:class => 'card border-0 '} do |f| %>
        <div class="card-body">
            <% if flash[:login_errors] %>
                <% flash[:login_errors].each do |error| %>
                  <div class="alert alert-danger" role="alert"><%=error%></div>
                <%end%>
            <%end%>
        </div>
        <div class="card-body">
      
                  <div class="form-group">
                      <label for="login_username" class="col-form-label">Username</label>
                      <%= f.text_field :username,class: "form-control" ,placeholder: "Username or Email"%>
                  </div>
                  <div class="form-group">
                      <label for="login_username" class="col-form-label">Password</label>
                      <%= f.password_field :password,class: "form-control" ,placeholder: "Password" %>
                  </div>
        </div>
    <div class="card-footer border-0 bg-white">
        <%= f.submit 'Sign In' ,class: "btn btn-success  btn-lg form-control box-shadow--8dp " %>
    </div>
   <% end %>
</div>