<div class="row">
    <div class="col-sm-3">
        Overall : <%= @percentall %>%
    </div>
    <div class="col-sm-9">
        <div class="row">
            <div class="col-sm-6">Form2 : <%= @percentform1 %>% <%= link_to @text1, form1_path, method: "get" ,class: ""%></div>
            <div class="col-sm-6">Form2 : <%= @percentform2 %>% <%= @text2 %></div>
            <div class="col-sm-6">Form3 : <%= @percentform3 %>% <%= @text3 %></div>
            <div class="col-sm-6">Form4 : <%= @percentform4 %>% <%= @text4 %></div>
        </div>
    </div>
</div>