<!DOCTYPE html>
<html>
<head>
  <title>Workspace</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header class="navbar navbar-expand navbar-dark flex-column flex-md-row bd-navbar">
      <div class="container">
        <% if current_user %>
          <ul class="nav">
            <li class="nav-item">
              <%= link_to "Log Out", logout_path, method: "delete" ,class: "btn btn-danger"%> 
            </li>
          </ul>
        <% end %>  
      </div>
  </header>
  <div class="container">
    <%= yield %>
  </div>
</body>
</html>
